.PersonaBox{
  display: flex;
  margin: 2% 0 0 0;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2%;
}
.Personacontainer {
    
    border-radius: 50px;
    border: white 2px solid;
    padding: 16px;
    margin: 0;
    width:30%;
    color:white;
    height: 22vh;
  }
  .imgPersona{
      height:100px;
      width:100px;
      padding-top: 10px;
  }
  .Personacontainer img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .Personacontainer span {
    font-size: 20px;
    margin-right: 15px;
  }
  .checked {
    color: orange;
  }
  
  @media (max-width: 750px) {
    .Personacontainer{
      text-align: center;
    }
  
    .Personacontainer .imgPersona {
      margin: auto;
      float: none;
      display: block;
    }
  }