/********** 
Persona Section Styles
**********/
.PersonaBox{
  display: flex;
  margin: 2% 0 0 0;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2%;
}
.Personacontainer {
    border-radius: 50px;
    border: white 2px solid;
    padding: 16px;
    margin: 0;
    width:30%;
    color:white;
  }
  .imgPersona{
      height:100px;
      width:100px;
      padding-top: 10px;
  }
  .Personacontainer img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .Personacontainer span {
    font-size: 20px;
    margin-right: 15px;
  }
  .checked {
    color: orange;
  }

  /********** 
  Tablet Persona View Styles 
  **********/
  @media (max-width: 1050px) {
    .Personacontainer{
      width: 40%;
      height: 30vh;
    }
  }
  
  /********** 
  Phone Persona View Styles
  **********/
  @media (max-width: 750px) {
    .PersonaBox{
      margin: 2% 0 0 0;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 2%;
      flex-direction: column;
    }
    .Personacontainer{
      text-align: center;
      width: 80%;
      margin: 1% 0 1% 0;
      height: 45vh;
    }
  
    .Personacontainer .imgPersona {
      display: block;
    }
  }